*{
    margin: 0;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.hero-section {
    background-image: url(perut.jpg);
    border-radius: 10px;
    opacity: 0.6;
    padding: 100px;
    color: rgb(228, 34, 34);
}
.maincontainer{
    border: 2px solid #d6e3ec;
    border-style: dotted;
    padding: 5px;
    max-width: 600px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}
.mb-3{
    border-radius: 2px;
    border-left: 3px solid #f02731;
    border-left-style: solid;
}

.d-flex{
    border-radius: 2px;
    border-right: 3px solid #f02731;
    border-right-style: ridge;
}
img{
    content-visibility: auto;
    object-fit: scale-down;
    object-position: right;
}